[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "managed/ohmyzsh"]
	path = managed/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "managed/bullet-train.zsh"]
	path = managed/bullet-train.zsh
	url = https://github.com/caiogondim/bullet-train.zsh.git
